.header {
  background-color: var(--red);
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 100%;
}

.logo{
  width: 400px;
  align-self: center;
}

@media(max-width:500px){
  .logo{
    width: 85%;
  }
}
