


.pizza-type-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.size{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dough-type{
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}


.pizza-type-section h3::after{
  content: "*";
  color: var(--red);
}

.toppings-checkboxes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  gap: 1rem;
}
