*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Barlow;
  src: url("./assets/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
  font-family: Barlow;
  src: url("./assets/fonts/Barlow/Barlow-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Barlow;
  src: url("./assets/fonts/Barlow/Barlow-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Satisfy;
  src: url("./assets/fonts/Satisfy/Satisfy-Regular.ttf");
}


@font-face {
  font-family: Quattrocento;
  src: url("./assets/fonts/Quattrocento/Quattrocento-Regular.ttf");
}


:root {
  font-family: Barlow, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--darkgray);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --yellow:#FDC913;
  --lightgray: #5F5F5F;
  --darkgray:#292929;
  --red: #CE2829;
  --beige: #FAF7F2;
}

a {
  font-weight: 500;
  color: var(--darkgray);
  text-decoration: inherit;
  border: none;
}

a:hover {
  color: var(--red);
}

body {
  margin: 0;

  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.8em 2.5em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  background-color: var(--yellow);
  cursor: pointer;
  transition: scale 0.25s;
}

button:hover {
  scale: 1.05;
}
button:active {
  scale: 0.98;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
